body{
	background-color:black;
	width: 100%;
}

h1, p{
	color: white;
	text-align: center;
	font-size: 35px;
}

form *{
	padding:10px;
	margin:10px;
	display: block;
	width: 95%;
	color: white;
	font-size: 20px;
}

form input {
	color: black;
}

form label{
	text-align: center;
}

form input::placeholder{
	color: #AAAAAA;
}

.buttonBox{
	/*padding: auto;*/
	position: absolute;
	margin: 0;
	bottom: 0;
	width:100%;
}

form button {
	background: rgba(255, 255, 255, 0.5);
	border-radius:10px;
	border-style: none;
	margin:1px;
	width: 48%;
	height:50px;
	line-height: 31px;
	color: white;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display:inline;
	float:left;
	margin-bottom: 5px;
}

form button:hover, form button:focus {
	background: rgba(255, 255, 255, 0.3);
	outline:5px solid white;
}