h2{
  margin:5px;
  position:absolute;
}

h2 > *{
  text-decoration: none;
  color:white;
  font-size: 18px;
  margin:5px 0 0 10px;

}

/*mid-size screens*/
@media only screen  and (min-width : 600px) {

  section{
    width:75%;
  }

  .textWrapper{
    display:inline;
    width:75%;
    float:left;
  }

  .explanation p{
    font-size: 30px;
  }

  .form{
    display:inline;
    width:75%;
    float:left;
    padding: 0 50px;
  }

  .form > * {
    font-size:25px;
    width:100%;
  }

  .form h1{
    font-size:40px;
  }

  .buttonBox {
    width:24%;
    height:100vh;
    display:inline;
    top: 0;
    right:0;
    float:right;
    position:absolute;
    left:auto;
    bottom:auto;
  }

  .buttonBox > *{
    width:100%;
    display:block;
    height:50%;
    float:right;
    padding: 125px 10px;
    font-size:25px;
  }

  .trip-table{
    margin-top:15%;
    padding:0 15px;
  }

  .trip-table > *{
    font-size: 30px;
  }

  tbody td {
    padding: 10px;
  }

  .export{
    padding:20px;
    font-size:20px;
    line-height: 10px;
  }

  .button-default{
    padding:10px;
    border:none;
    color:white;
    font-size:15px;
  }


}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 768px) {

  h1{
    margin: 50px 0;
  }

  .explanation{
    margin-top:15%;
  }

  .form{
    padding: 0 150px;
  }

}