table{
	width: 100%;
	color: rgba(255,255,255,.9);
	text-align:center;
	font-size: 25px; 
}

th{
	padding:10px;
	font-size:.9em;
}

tbody td{
	padding:5px;
	font-size: .7em;
	line-height: 1.5;
}

/* Background-color of the odd rows */
tbody tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
tr:nth-child(even) {
	  background-color: #2C3446;
}

form *{
	display: block;
	width: 100%;
	color: white;
}

form *:focus{
	outline:solid 7px rgba(255, 255, 255, 0.5);
}

form input {
	color: black;
}

form label{
	text-align: center;
}

form input::placeholder{
	color: #AAAAAA;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
    width:auto;
    margin:25px 0;
    font-size: 35px;
    font-weight:bold;
}

.buttonBox{
	position: absolute;
	bottom: 0;
	width:100%;
	left:0;
}

.buttonBox > * {
	background: rgba(255, 255, 255, 0.5);
	font: normal normal normal 14px/1 FontAwesome;
	border-style: none;
	width: 50%;
	height:50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display:inline;
	float:left;
}

.buttonBox a img{
	height: 22px;
	width:22px;
	display:inline;
	line-height:50px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.buttonBox a i{
	display:inline;
}

.export{
	color: white;
    text-decoration: none;
    float: right;
    background-color: gray;
    padding: 10px;
    border-radius: 20px;
    height:50px;
    line-height: 30px;
}

a:hover, a:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
	outline:solid 7px rgba(255, 255, 255, 0.5);
}

.export:focus, .export:hover{
	outline:none;
}

button:hover, button:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
	outline:solid 7px rgba(255, 255, 255, 0.5);
}

button{
	border-right:solid white 1px;
	line-height:20px;
}

button label{
	display:inline;
	line-height: 50px;
	vertical-align: top;
}

.roadPic{
	height:35px;
	width:35px;
	display:inline;
	margin: 5px 12px 0 0;
}

.fa.fa-floppy-o{
	font-size:20px;
	line-height: 50px;
}

.button-default{
    background: rgba(255, 255, 255, 0.5);
    margin:5px;
	height: 50px;
	width:60px;
	padding:10px;
	border:none;
	color:white;
	font-size:15px;
	border-radius: 20px;
}

.clearExports{
	background: rgba(255, 255, 255, 0.5);
    margin: 5px;
    height: 50px;
    width: 60px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}

.editButton{
	background-color: gray;
	border: none;
	color: white;
	font-size: 1em;
	border-radius: 25px;
    padding: 5px 15px;
    height: 50px;
    min-width: 50px;
}

td{
	cursor: default;
}

.mileValue, button{
	cursor: pointer;
}

input.mileValue{
	width:80px;
	font-size: 1em;
	text-align: center;
	display: block;
    margin: 10px auto;
    cursor: default;
}

.directions{
	text-align: center;
	display: block;
	color: white;
	margin: 40px 0;
}

td button{
	display: none;
}

td input~button{
	display:inline;
}