* {
  box-sizing: border-box;
}

body{
	background-color: black;
}

table{
	width: 100%;
	color: rgba(255,255,255,.9);
	text-align:center;
	font-size: 25px; 
}

th{
	padding:10px;
	font-size:.9em;
}

tbody td{
	padding:5px;
	font-size: .7em;
}

/* Background-color of the odd rows */
tbody tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
tr:nth-child(even) {
	  background-color: #2C3446;
}

form *{
	display: block;
	width: 100%;
	color: white;
}

form input {
	color: black;
}

form label{
	text-align: center;
}

form input::placeholder{
	color: #AAAAAA;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

.buttonBox{
	position: absolute;
	bottom: 0;
	width:100%;
	left:0;
}

.buttonBox > * {
	background: rgba(255, 255, 255, 0.5);
	font: normal normal normal 14px/1 FontAwesome;
	border-style: none;
	width: 50%;
	height:50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display:inline;
	float:left;
}

.buttonBox a img{
	height: 22px;
	width:22px;
	display:inline;
	line-height:50px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.buttonBox a i{
	display:inline;
}

.export{
	color: white;
    text-decoration: none;
    float: right;
    background-color: gray;
    padding: 10px;
    border-radius: 20px;
}

a:hover, a:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
}

button:hover, button:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
}

button{
	border-right:solid white 1px;
	line-height:20px;
}

button label{
	display:inline;
	line-height: 50px;
	vertical-align: top;
}

.roadPic{
	height:35px;
	width:35px;
	display:inline;
	margin: 5px 12px 0 0;
}

.fa.fa-floppy-o{
	font-size:20px;
	line-height: 50px;
}

.button-default{
    background: rgba(255, 255, 255, 0.5);
    margin:5px;
	height: 50px;
	width:100px;
	padding:10px;
	border:none;
	color:white;
	font-size:15px;
}