body{
	background: url(/imgs/splash.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.darkener{
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

h1, p{
	color: white;
	text-align: center;
	font-size: 35px;
}

.explanation{
	margin-top:35%;
    padding: 0 10px 0 10px;
}

p {
	font-size: 22px;
	margin-bottom:50px;
	margin-top:0;
}

form *{
	/*padding:10px;*/
	display: block;
	width: 95%;
	color: white;
}

.buttonBox{
	position: absolute;
	bottom: 0;
	width:100%;
	left:0;
}

.buttonBox > * {
	background: rgba(255, 255, 255, 0.5);
	border-style: none;
	width: 50%;
	height:50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display:inline;
	float:left;
}

a:hover, a:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
}

button:hover, button:focus {
	background: rgba(255, 255, 255, 0.3);
	border:2px solid white;
}

button{
	border-right:solid white 1px;
}

.fa.fa-floppy-o{
	font-size:20px;
	line-height: 50px;
}