h1, p{
	color: white;
	text-align: center;
}

h1{
	font-size:35px;
	margin: 50px 0;
}

.explanation{
	/*margin-top:35%;*/
    padding: 0 10px 0 10px;
}

p {
	font-size: 22px;
	line-height: 130%;
	margin-top:0;
}

.buttonBox{
	position: absolute;
	bottom: 0;
	width:100%;
	left:0;
}

.buttonBox > * {
	background: rgba(255, 255, 255, 0.5);
	font: normal normal normal 14px/1 FontAwesome;
	border-style: none;
	width: 50%;
	height:50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display:inline;
	float:left;
}

.buttonBox i{
	text-decoration: none;
}

.buttonBox a img{
	height: 22px;
	width:22px;
	display:inline;
	line-height:50px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.buttonBox a i{
	display:inline;
}

a:hover, a:focus {
	background: rgba(255, 255, 255, 0.3);
	outline:solid 7px rgba(255, 255, 255, 0.5);
}

button:hover, button:focus {
	background: rgba(255, 255, 255, 0.3);
	outline:solid 7px rgba(255, 255, 255, 0.5);
}

button{
	border-right:solid white 1px;
}

.fa.fa-floppy-o{
	font-size:20px;
	line-height: 50px;
}

.demoButton{
	cursor: pointer;
}